/* Paleta de cores cool --> https://flatuicolors.com */
*
{
    box-sizing: border-box;

}
html, body
{
    margin:0;
    padding:0;
}

header 
{
    width:100%;  
    height:200px; 
    background: #2c3e50;
    position: relative;
}

nav
{
    width:100%;
    height:100px;
    background: #bdc3c7;
    position: absolute;
    bottom:0;
}

section
{
    widows: 100%;
    height:100px;
    background:#111;
}

footer
{
    widows: 100%;
    height:200px;
    background:#9b59b6;
}