header 
    {
        width: 100%;
        height: 150px;
        background-color: #5E299A; 
    }

header .container
    {
        position: relative; 
    }

header .header-black
    {
        height: 40px;
        background-color:#000;
    }

header .header-black li
    {
        background-image: url("../img/clubs.png");
        background-repeat: no-repeat;
        display: inline-block;
        margin-left:4px 8px;
    }
header .header-black li.club-01
    {
        background-position: 0px 0px;
    }

header .header-black li.club-02
    {
        background-position: 0px 0px;
    }

header .header-black li a
    {
        width:32px;
        height:32px;
        display: block;
    }

header #logotipo
    {
        position: absolute;
        top: -30px;
    }

